body{
    background-color: lemonchiffon; 
    color: lightslategray;
}
h2{
    margin-top: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    font-size: 60px;
    color: lightslategray;
    text-align: center;
}
    table.table-responsive{
        margin-left: 355px;
}
form{
    text-align: center; 
}
input{
    border-radius: 10px;
    margin-bottom: 10px;
}
#hitung{
    text-align: center;
}